MONGODB_URI=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
AUTH_SECRET=
SUPER_ADMIN_EMAIL=
SUPER_ADMIN_PASSWORD=
MOAI_KITCHEN_ADMIN_RESTAURANT_SLUG=moai-kitchen
MOAI_KITCHEN_ADMIN_EMAIL=
MOAI_KITCHEN_ADMIN_PASSWORD=
NATIVE_SOUTH_ADMIN_RESTAURANT_SLUG=native-south
NATIVE_SOUTH_ADMIN_EMAIL=
NATIVE_SOUTH_ADMIN_PASSWORD=
WIFI_ENCRYPTION_KEY=